<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="{{ "/assets/img/favicon.ico" | relative_url }}" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="{{ "/assets/css/style.css" | relative_url }}">
  <link rel="stylesheet" type="text/css" href="{{ "/css/style2.css" | relative_url }}">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
</head>

<body{% if page.id %} id="{{ page.id }}"{% endif %} class="{{ page.layout }}">

  <div class="page-header">
    <div class="container">
      <div class="text-center">
        <a href="{{ "/" | relative_url}}"><img class="logo" src="../img/omp.svg" alt="OMP logos"></a>
      </div>
    </div>

    <div>
        <button><a href="https://github.com/openmainframeproject/artwork">View on Github</a></button>
      </div>
    </div>



    <!-- .full-width here gets closed on support-page.html and home.html layouts -->
