<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="{{ "/other/open-mainframe-project/icon/color/open-mainframe-project-icon-color.svg" | relative_url }}">
  <link rel="stylesheet" type="text/css" href="{{ "/assets/css/style.css" | relative_url }}">
  <link rel="stylesheet" type="text/css" href="{{ "/assets/css/style2.css" | relative_url }}">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
  <title>{{ page.title }}</title>
</head>

<body{% if page.id %} id="{{ page.id }}"{% endif %} class="{{ page.layout }}">

  <div class="page-header">
    <div class="container">
      <div class="text-center">
        <a href="{{ "/" | relative_url}}"><img class="logo" src="{{ "/other/open-mainframe-project/horizontal/white/open-mainframe-project-horizontal-white.svg" | relative_url }}" alt="OMP logos"></a>
      </div>
    </div>

    <div>
        <button><a href="{{site.github_repo}}">View on Github</a></button>
      </div>
    </div>



    <!-- .full-width here gets closed on support-page.html and home.html layouts -->
{{ content }}
