<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <link rel="image_src" href="{% if page.primary_logo %}{{ page.primary_logo | relative_url }}{% else %}{{ site.primary_logo | relative_url }}{% endif %}">
  <link rel="shortcut icon" href="{{ site.favicon | relative_url }}">
  <link rel="stylesheet" type="text/css" href="{{ "/assets/css/style.css" | relative_url }}">
  <link rel="stylesheet" type="text/css" href="{{ "/assets/css/style2.css" | relative_url }}">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <title>{{ site.title }} - {{ page.title }}</title>
</head>

<body{% if page.id %} id="{{ page.id }}"{% endif %} class="{{ page.layout }}">

<div class="page-header">
  <div class="container">
    <div class="text-center">
      <a href="{{ "/" | relative_url}}"><img class="logo" src="{{ site.header_logo | relative_url }}" alt="OMP logos"></a>
    </div>
  </div>

  <div>
    <button><a href="{{site.github_repo}}">View on Github</a></button>
  </div>
</div>

{{ content }}

</body>

</html>
